---
title: Committees
layout: page
---

{% if site.data.committees %}
  <section>
    <h2>Standing Committees</h2>
    {% assign standing_committees = site.data.committees | where: "standing", true %}
    {% for committee in standing_committees %}
      {% include committee.html committee_data=committee %}
    {% else %}
      <p>There are currently no standing committees.</p>
    {% endfor %}
  </section>
  <section>
    <h2>Ad Hoc Committees</h2>
    {% assign ad_hoc_committees = site.data.committees | where_exp: "item", "item.standing != true" %}
    {% for committee in ad_hoc_committees %}
      {% include committee.html committee_data=committee %}
    {% else %}
      <p>There are currently no ad hoc committees.</p>
    {% endfor %}
  </section>
{% else %}
  <p>There are currently no committes.</p>
{% endif %}
